//app.css
.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.rcw-messages-container  {
    background-color:white;
}
.rcw-widget-container{
    margin:5% 5% 5% 5% !important;
    position: unset !important;
    max-width: 100% !important;
    text-align: center !important;
    height: 100% !important
}

.rcw-opened{
    width: inherit !important;
}

.rcw-conversation-container{
    display: inline-block !important;   
    height: 100%;  
}

.rcw-launcher{
    display: none !important;
}

.rcw-sender {
    margin-bottom: -60px;
}


.aboutCSS {
    padding-top: 1%;
    margin: 5%;
    text-align: center;
    height: 100%;
}

.aquaColor{
    background-color: #35cce6;
}