.App {
  text-align: center; }

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.rcw-messages-container {
  background-color: white;
  max-height: 100%;
}

.rcw-widget-container {
  margin: 5% 5% 5% 5% !important;
  position: unset !important;
  max-width: 100% !important;
  text-align: center !important;
  max-height: 100% !important; }

.rcw-opened {
  width: inherit !important; }

.rcw-conversation-container {
  display: inline-block !important;
  height: 100%; }

.rcw-launcher {
  display: none !important; }

.rcw-sender {
  margin-bottom: -60px; }

.aboutCSS {
  padding-top: 5%;
  margin: 5%;
  text-align: center;
  height: 100%; }

.aquaColor {
  background-color: #35cce6; }
